lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Optional npm cache directory
.npm

# API keys and secrets
.env
.eslintcache

# Dependency directory
node_modules
.nyc_output
# Editors
.idea
.vscode
*.iml
modules.xml
*.ipr

# Folder config file
Desktop.ini